* {
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  height: 100vh;
  padding: 40px 84px 40px 84px;
  background-color: #111111;
  color: #111111;
  overflow: hidden;
}

span {
  display: inline-block;
}
